*{
  font-family: sans-serif;
}
.head{
  width:600px;
  /* border: 2px solid black; */
  margin:0px auto
}
.card{
  /* border: 1px solid grey; */
  padding: 5px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}
.content{
  display: grid;
  grid-template-columns: auto auto;
  gap:20px;
}